.app__page-title_video {  
  display: flex;
  justify-content: center;
  flex-direction: column;  
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 40px;  
  width: 1140px;
  
}




.app__page-title_files {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
  &-wrap {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    &-icon {
      display: flex;
      align-items: center;
      padding-right: 10px;
      text-decoration: none;
      padding-top: 4px;
      a {
        color: black;
      }
    }
    &-zip {
      text-decoration: none;
    }
  }
  &-task {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 25px;
  }
  &-text {
    padding-left: 30px;
  }
}

.video {
  margin-top: 30px;

}

.body__active {
  padding-left: 10px;

  
}

.app__page-header_top-container-right:hover {
    background-color: #e5e5e5;
   
}

.app__page-header_top-container-left:hover {
    background-color: #e5e5e5;
 
}

/*a {
  text-decoration: none;
 }*/

a:active, 
a:hover,  
a {
  text-decoration: none;
  color: black;
}



@media screen and (max-width: 900px) {
  .app__page-title_video {
    width: 600px;
    
  }
  iframe {
    width: 600px;
    height: 338px;
  }

  }




