.header {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-left: 250px;
    min-width: 500px;


}



.header-top_row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
   

}

.header-title {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 5px;
}

.text-left {
    display: flex;
    align-items: center;
}

.text-right {
    display: flex;
    align-items: center;
}

.header-title_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1140px;
}




