.menu-top {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
}

.icon1 {
  height: 50px;
  width: 50px;
}

.menu-top_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

.menu-top_icons2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.menu-top_icons3 {
  margin-top: 5px;
}

.menu-top_icons1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}