

.menu {		
	/*visibility: hidden;*/
	position: fixed;
	padding: 0px;
	margin: 0px;
	top: 50px;
	left: 0px;
	height: 100%;
	width: 240px;
	overflow-x: hidden;
	background-color: #ffffff;
	z-index: 1;		
}

.second {
	/*margin-left: 27px;*/
	/*margin-bottom: 22px;*/
	padding: 2px 5px 2px 27px
}

.week {
	/*margin-left: 15px;*/
	/*margin-bottom: 30px;*/
	/*margin-top: 30px;*/
	font-weight: bold;
	padding: 5px 5px 5px 15px;
}

#week3 {
	border-bottom: 1px solid #e5e5e5;
}

.menu li:hover {
     background-color: #e5e5e5;
}

.menu li {
	cursor: pointer;
	color: black;
	padding-top: 7px;
	padding-bottom: 7px;
	
}

.week4 {
    margin-top: 10px;
}
  

.menu ul {
	list-style: none;
	font-size: 15px;
	padding-left: 0px;


}

.menu li a {
	display: block;
	/*background-color: grey;*/
	color: white;
	/*width: 200px;*/
	margin: 5px 0;
	padding: 2px;
	text-align: auto;
	white-space: nowrap;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
}

.menu li a.week {
	margin-left: 0px;
}

#week5 {
	padding-bottom: 50px;
}

::-webkit-scrollbar {
	width: 12px;
	background: #eeeeee;
}
::-webkit-scrollbar-thumb {
	background: #888888;
	-webkit-border-radius: 1ex;
	border:2px solid  #eeeeee;
}
::-webkit-scrollbar-thumb:hover {
	background: #ccc;
	-webkit-border-radius: 1ex;
	border:2px solid  #eeeeee;
}

